<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      <!-- 問題内容 -->
      <div class="question_title">
        <h2><%= @question.title %></h2>
      </div>
      <div class="question_body">
        <p><%= @question.body %></p>
      </div>
    </div>
  </div>
</div>